body{
}
.main {
	position: relative;
	margin: 0 auto;
	width: 100%;
}

.tab{
    height:55px;
}
.tab ul{}
.tab ul li {
    min-width: 4em;
    height: 2.8em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    box-sizing: border-box;
    font-size: 1.2em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.8em;
    letter-spacing: normal;
    color: #323232;
    position: relative;
    text-align: center;
    float: left;
    z-index: 1;
}
.tab ul li:after{

}
.tab ul li .tab_line{
    display:none;
    width: 50px;
    height: 2px;
    margin: 0 auto;
    border-radius: 2px;
}
.tab ul li:after {
    content: '';
    position: absolute;
    bottom: 0.7rem;
    width: 50%;
    height: 0.7rem;
    border-radius: 4px;
    left: 50%;
    background-color: white;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}
.tab ul li.on {
    color: #323232;
    font-weight: bold;
}
.tab ul li.on:after {
    background-color: #ffd340;
}
.tab ul li.on .tab_line{
    display:block;
}

.main .title{
	height:50px;
	line-height:50px;
	color:#b4b4b4;
    margin:0 10px;
}


.level {
	position: relative;
	padding-bottom:20px;
    background-image: linear-gradient(112deg, #ff2d2d, #ff41d0);
    margin: 0 10px;
    border-radius: 5px;
}

.level .speed
{
	overflow: hidden;
}
.level .speed .info
{
	height:160px;
    text-align:center;
}


.level .speed .info .name{
    position:relative;
    margin: 0 auto;
	width:80px;
	height: 80px;
	text-align:center;
    z-index:0;
    padding: 20px;
    top: 43px;
    left: -4px;
}
.level .speed .info .avatar_bg{
    position:relative;
    margin-top:-104px;
 	height:160px;
	background:url(../images/level/level_thumb_bg.png) no-repeat top center;
    background-size:auto 100%;
    text-align:center;  
    z-index:1
}
.level .speed .info .name img{
    width:100%;
    height:100%;
    border-radius:50%;
}

.level .speed .info .tip{
    position:relative;
    margin:-48px auto 0;
	width:180px;
	height: 24px;
	line-height:24px;
	color: #fa00a6;
	text-align:center;
    z-index:3;
}

.level .speed .level_val {
	text-align: center;
    line-height: 50px;
	color:#fff;
    margin-top: 20px;
}

.level .speed .level_jindu{
    display: -webkit-flex; /* Safari */
    display: flex;    
    margin:0 15%;
    justify-content: center;
    align-items: center;
}
.level .speed .level_jindu_l{
    
    color:#fff;
    font-size:1.2rem;
}
.level .speed .level_jindu_r{
    
    color:#fff;
    font-size:1.2rem;
}
.level .speed .jindu{
	width:80%;
	height:8px;
	overflow: hidden;
	margin:0 15px;
}

.level .speed .jindu .levelnp {
  display: block;
  height: 8px;
  width: 98%;
  z-index: 10;
  background: #ededeb;
  border-radius: 4px;
  text-align: center;
}
.level .speed .jindu .leveln {
    height: 8px;
    z-index: 5;
}

.level .speed .jindu .n1 {
    background-color: #fff300;
}
.level .speed .jindu .n2 {
    background-color: rgb(255 187 2);
}

.privilege{
	padding:10px 0 20px;
}
.privilege ul {
    padding: 20px 0;
    overflow: hidden;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
}
.privilege ul li{
	float:left;
	width:50%;
	text-align:center;
}

.privilege ul li img{
	max-width:36%;
}
.privilege ul li .privilege_t{
    color:#646464;
    font-size:1.2rem;
    font-weight:bold;
	text-align:center;
}
.upgrade{
	padding:10px 0 20px;
}

.upgrade .body{
	text-align:center;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    padding: 20px 0;
    margin: 0 10px;
    border-radius: 5px;
}
.upgrade .body img{
	max-width:70%;
}

.tips{
    margin:0 10px;
	height:50px;
	line-height:50px;
    background:url('../images/right.png') no-repeat right center;
    background-size:20px;
}

.tips a{
    display:block;
	color:#323232;
	text-decoration:none;
}

/* 等级说明 */
.explain{
	
}
.explain .explain-top{
	line-height:55px;
	padding:0 10px;
}

.explain-top fieldset{
  padding:10px 0;
  border-top:#dfdfdf solid 1px;
  border-bottom: none;
  border-left: none;
  border-right: none;
} 

.explain-top legend{
  color:#000;
  padding:0 10px 0 0;
  background:#fff;
} 

.explain .list{

}
.list table{
	width:100%;
}

.list table tr:nth-child(odd){
	background: #200139;
}

.list table tr:nth-child(even){
	background: #200139;
}

.list table tr:first-child{
	background:#ffffff;
}
.list table th,.list table td{
	text-align:center;
	line-height: 40px;
    margin-left:-1px;
    color: #323232;
}
.list table td{
	color:#323232;
    background-color: #ffffff;
}
.list table th td:first-child{
    border-left:none;
    margin-left:0;
}
.list table tr td:first-child{
    border-left:none;
    margin-left:0;
}

.list table img{
    height:2rem;
}